<div class="h-screen flex flex-wrap bg-gray-100 w-full">
  <div class="hidden xl:block w-2/12 bg-white rounded px-3 pb-3 shadow-lg h-screen sticky top-0 pt-6 sm:pt-8 xl:pt-10">
    <app-side-menu></app-side-menu>
  </div>
  <div class="h-screen w-full xl:w-10/12">
    <app-navbar class="xl:hidden"></app-navbar>
    <main class="h-[calc(100vh-72px)] xl:h-screen mx-auto max-w-screen-xl px-4 py-6 sm:py-8 sm:px-6 lg:px-8 xl:py-10">
      <div class="mx-auto max-w-lg text-center">
        <app-title [title]="title" [text]="text"></app-title>
      </div>
      <ng-content></ng-content>
    </main>
  </div>
</div>
